.body{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}
  
//LIGHT THEME
.body--light{
    background-color: var(--light-third);
}
  
//DARK THEME
.body--dark{
    background-color: var(--dark-third);
} 