.title{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    margin: 20px 0 0 10px;
}

.article{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 30px;
}


//LIGHT THEME
.title--light{
    color: var(--light-text);
}
.article--light{
    background-color: var(--light-theme);
}

//DARK THEME
.title--dark{
    color: var(--dark-text);
}
.article--dark{
    background-color: var(--dark-theme);
}
